OPENAI_API_KEY=
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/crmDatabase
MODEL_NAME=gpt-5-nano-2025-08-07
DATABASE_NAME=crmDatabase
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
